:root {
	--gradient-color-start: hsl(6, 100%, 80%);
	--gradient-color-end: hsl(335, 100%, 65%);
	--pale-blue: hsl(243, 100%, 93%);
	--grayish-blue: hsl(229, 7%, 55%);
	--dark-blue: hsl(228, 56%, 26%);
	--very-dark-blue: hsl(229, 57%, 11%);
	--body-font-size: 14px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

p {
	text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

#root,
#__next {
	isolation: isolate;
}

body {
	width: 100vw;
	height: 100vh;
	background-color: var(--very-dark-blue);
}

.container {
	background-color: var(--dark-blue);
}

.flex {
	display: flex;
}

.flex-text-seperator {
    width: 100%;
    justify-content: space-between;
}

#flex-text-seperator1 {
    margin-bottom: 10px;
}

#main-flex {
	gap: 2vw;
	position: absolute;
	left: 20vw;
	bottom: 39vh;
	width: 59vw;
	height: 11.32rem;
}

#icon-flex {
	gap: 1em;
	width: 100%;
	height: 3em;
	justify-content: flex-start;
}

.icon-background {
	box-sizing: border-box;
	background-color: var(--very-dark-blue);
	align-content: center;
	justify-items: center;
	width: 3.4em;
	height: 100%;
	border-radius: 12px;
}

#svg-icon1 {
	width: 20px;
	height: 24px;
}

#svg-icon2 {
	width: 24px;
	height: 20px;
}

#svg-icon3 {
	width: 24px;
	height: 16px;
}

#logo {
	margin-bottom: 1.5em;
	width: 135px;
	height: 40px;
}

#left-div {
	width: 19vw;
	height: 100%;
	border-radius: 15px;
	border-top-right-radius: 100px;
	padding: 2.5em;
	padding-bottom: 20px;
}

#right-div {
	width: 38vw;
	height: 72.73%;
	border-radius: 15px;
	margin-top: auto;
    padding: 2.5em;
}

span {
    color: var(--pale-blue);
	font-family: "Raleway", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
    font-size: var(--body-font-size);
}

b {
    font-weight: 700;
}

.speech-bubble-flex-div {
	text-align: center;
	align-content: center;
}

.speech-bubble-span {
	font-weight: 700;
}

#speech-bubble {
    max-width: 10vw;
	height: 4.38rem;
	border-radius: 15px;
	border-bottom-right-radius: 0;
	background-color: white;
	position: absolute;
	top: 0;
	right: 5.2em;
	justify-content: center;
	align-content: center;
	gap: 0.5em;
	padding-bottom: 0.3em;
	padding-inline: 1.8em;
}

#speech-bubble-flex-div2 {
	padding-top: 0.3em;
}

#speech-bubble-number {
	color: black;
	font-size: 40px;
}

#speech-bubble-text {
	color: var(--grayish-blue);
	font-size: 13px;
	display: inline-block;
	align-content: center;
}

#speech-bubble-triangle {
	position: absolute;
	width: 0;
	height: 0;
	bottom: calc(-1.4vw + 2px);
	right: 0;
	border-top: 0.7vw solid white;
	border-bottom: 0.7vw solid transparent;
	border-left: 0.7vw solid transparent;
	border-right: 0.7vw solid white;
}

#progress-bar {
    width: 100%;
    height: 20px;
    background-color: var(--very-dark-blue);
    border-radius: 20px;
    padding: 3px;
    margin-bottom: 8px;
}

#gradient-div {
    width: 75%;
    height: 100%;
    border-radius: 20px;
    background-image: linear-gradient(90deg, var(--gradient-color-start), var(--gradient-color-end));
    padding: 2px;
}

#circle {
    background-color: white;
    border-radius: 50%;
    height: 100%;
    width: 10px;
    margin-left: auto;
}

#image-div {
	width: 100vw;
	height: 50vh;
	background-image: url(./images/bg-desktop.png);
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	bottom: 0;
	z-index: -1;
}

@media only screen and (max-width: 1200px) {
	#speech-bubble {
		height: 7vh;
		top: -1em;
	}

	#speech-bubble-number {
		font-size: 25px;
	}

	#speech-bubble-text {
		font-size: 10px;
		padding-top: 0.5em;
	}

	#main-flex {
		height: 8rem;
		bottom: 42vh;
	}

	#icon-flex {
		gap: 0.8em;
	}

	.icon-background {
		width: 2.2em;
		height: 80%;
	}

	#svg-icon1 {
		width: 15px;
		height: 18px;
	}

	#svg-icon2 {
		width: 18px;
		height: 15px;
	}

	#svg-icon3 {
		width: 18px;
		height: 12px;
	}

	#logo {
		width: 100px;
		height: auto;
		margin-bottom: 1em;
	}

	#left-div {
		padding: 1.8em;
		padding-bottom: auto;
	}

	#right-div {
		padding: 1.4em;
	}

	#flex-text-seperator1 {
		margin-bottom: 5px;
	}

	span {
		font-size: 12px;
	}

	#progress-bar {
		height: 15px;
		margin-top: 4px;
	}

	#circle {
		width: 5px;
	}
}

@media only screen and (max-width: 1000px) {
	#main-flex {
		flex-direction: column;
		width: 60vw;
		height: 60vh;
		left: 20vw;
		bottom: 20vh;
	}

	#speech-bubble {
		position: relative;
	}

	#left-div {
		padding: 2.5em;
		padding-bottom: 3em;
	}

	#right-div {
		padding: 2em;
	}

	#left-div, #right-div {
		width: 100%;
		height: 45%;
	}

	#logo {
		width: 	180px;
		margin-bottom: 2em;
	}

	#icon-flex {
		height: 4em;
		gap: 1.5em;
	}

	.icon-background {
		width: 4em;
		height: 100%;
	}

	#svg-icon1 {
		width: 23px;
		height: 29px;
	}

	#svg-icon2 {
		width: 29px;
		height: 23px;
	}

	#svg-icon3 {
		width: 30px;
		height: 20px;
	}

	span {
		font-size: 16px;
	}

	#flex-text-seperator1 {
		margin-bottom: 1em;
		justify-content: center;
	}

	#progress-bar {
		height: 20px;
	}

	#circle {
		width: 10px;
	}

	#speech-bubble {
		border-bottom-right-radius: 15px;
		position: relative;
		padding-inline: 25%;
		height: 9vh;
		top: -3em;
		left: 0;
	}

	#speech-bubble-flex {
		justify-content: center;
		width: 60vw;
		height: auto;
	}

	#speech-bubble-triangle {
		border: 0;
		right: -1px;
		bottom: 50%;
	}

	#speech-bubble-number {
		font-size: 2.5em;
	}

	#speech-bubble-flex-div2 {
		text-align: left;
		margin-left: 0.2em;
	}

	#speech-bubble-text {
		font-size: 0.8em;
		width: 5em;
	}
}

@media only screen and (max-width: 550px) {
	#image-div {
		height: 100vh;
		background-image: url(./images/bg-mobile.png);
	}

	#main-flex {
		width: 90vw;
		height: 100vh;
		bottom: 0;
		left: 5vw;
		gap: 3vh;
		justify-content: center;
	}

	#left-div {
		height: 220px;
		padding: 3em;
		padding-bottom: 2em;
	}

	#right-div {
		margin-top: 0;
		max-height: 170px;
	}

	#logo {
		width: 135px;
		margin-bottom: 36px;
	}

	.icon-background {
		width: 3.2em;
	}

	#icon-flex {
		height: 3.2em;
		gap: 1em;
	}

	#svg-icon1 {
		width: 20px;
		height: 24px;
	}

	#svg-icon2 {
		width: 24px;
		height: 20px;
	}

	#svg-icon3 {
		width: 24px;
		height: 26px;
	}

	#speech-bubble {
		height: 80px;
		padding-inline: 28%;
	}

	#speech-bubble-flex {
		width: 100%;
	}

	span {
		font-size: var(--body-font-size);
	}
}